/vendor/

# Informations de connexion à la base de données
/src/Database/connection.php

# Modules à installer via la commande npm i
/node_modules/

index.php
.htaccess

.idea/
.vscode/

# Fichiers CSS compilés
/src/Resources/Css/**/*.css


# Fichiers macOS
.DS_Store