/vendor/

# Modules à installer via la commande npm i
/node_modules/

# Fichiers de configuration
.htaccess
config.php

.idea/
.vscode/

# Fichiers CSS compilés
*.css
*.css.map
!tailwind.css

# Fichiers macOS
.DS_Store

# Fichiers .SQL
DB/
